body {
    font-family: 'Roboto', sans-serif;
    background-color: #1e1e1e; /* Fond d'écran sombre */
    color: #eee; /* Texte clair */
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
}

.container {
    background-color: #282828; /* Conteneur légèrement plus clair */
    padding: 30px;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.3); /* Ombre plus prononcée */
    width: 80%;
    max-width: 900px;
}

h1 {
    color: #3399ff; /* Bleu Dynatrace plus clair */
    margin-bottom: 20px;
    text-align: center;
}

.input-area {
    display: flex;
    gap: 10px;
    justify-content: center;
    margin-bottom: 20px;
}

input[type="file"] {
    padding: 10px;
    border: 1px solid #555; /* Bordure plus sombre */
    border-radius: 4px;
    background-color: #333; /* Fond sombre pour l'input */
    color: #eee;
    cursor: pointer;
}

button {
    background-color: #3399ff; /* Bleu Dynatrace */
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

button:hover {
    background-color: #2677cc; /* Bleu plus foncé au survol */
}

#copyButton {
    background-color: #555; /* Gris plus sombre pour le bouton copier */
}

#copyButton:hover {
    background-color: #444;
}

pre {
    background-color: #333; /* Fond sombre pour le pre */
    border: 1px solid #555; /* Bordure plus claire */
    padding: 15px;
    border-radius: 4px;
    overflow: auto;
    white-space: pre-wrap;
    font-family: monospace;
    color: #eee; /* Texte clair dans le pre */
}